.canvas {
  position: relative;
  overflow: auto;
  margin: 24px;
}

.canvasGrid {
  background-image:
    radial-gradient(circle, var(--bg-color-canvas-dot) 0.8px, transparent 0.8px);
  background-size: 20px 20px;
}
