.canvas {
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}

.canvasEdit {
  margin: 24px;
}

.canvasPercent {
  margin: 24px 24px 24px 24px;
}

.canvasPercentWidth {
  width: calc(100% - 48px) !important;
}

.canvasPercentHeight {
  height: calc(100% - 48px) !important;
}

.canvasGrid {
  background-image:
    radial-gradient(circle, var(--bg-color-canvas-dot) 0.8px, transparent 0.8px);
  background-size: 20px 20px;
}
